<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDoList3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA40BB021F3879DD00316AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA40BB161F3879DE00316AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA40BB211F3879DE00316AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
